body {
    height: 100%;
    margin: 0;
    background: linear-gradient(#7fffd4, #9f08f1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login_logoTitle { 
    text-align: center;
    font-family: Helvetica;
    font-style: italic;
    font-size: 3rem;
    -webkit-text-fill-color: #8017e9;
    margin: 1rem auto;
}

.loginForm {
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-radius: 1rem;
    background-color: white;    
    width: fit-content; 
    margin: 0 auto;
    
}

.loginForm__title {
    -webkit-text-fill-color: #8017e9;
    font-size: 2rem;
    font-family: Helvetica;
    text-align: center;
}

.Login_containers {
    padding: 0.5rem;
}

.Login_table {
    border-spacing: 1rem
}

.Login_input {
    padding: 0.4rem;
    -webkit-text-fill-color: #1f0659;
    font-family: Helvetica;
    border-radius: 0.5rem;
    appearance: none;
    border-color: #3c139b;
    
}

.Login_input.dirty + .loginPlaceholder,
.Login_input:focus + .loginPlaceholder {
    top: 0rem;
    font-size: 0.7rem;
    background: white;
}

.Login_label {
    position: relative;
    font-size: 1rem;
    padding-top: 0.5rem;
}

.Login_label .loginPlaceholder {
    -webkit-text-fill-color: #26086c;
    font-family: Helvetica;
    position: absolute;
    left: 0.5rem;
    top: 0.7rem;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        border-color 0.3s ease;

}

.registerLink {
    -webkit-text-fill-color: #8017e9;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

.Login_button {
    background-color: #8017e9;
    -webkit-text-fill-color: white;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    
}
.button:hover {
    background-color: #673797;
    font-size: 1rem;
}

.login_error {
    -webkit-text-fill-color: #e4035d;
    text-align: center;
    font-size: 0.9rem;
}

.footer {
    -webkit-text-fill-color: #2082A6;
    background-color: #7fffd4;
    font-size: 1rem;
    font-family: Helvetica;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
}