.logoTitle {
    text-align: center;
    font-family: Helvetica;
    font-style: italic;
    font-size: 3rem;
    -webkit-text-fill-color: #8017e9;
    margin: 1rem auto;
}

.registerForm {
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: white;
    border-radius: 1rem;
    background-color: white;    
    width: fit-content; 
    margin: 0 auto;
}

.registerForm__title {
    -webkit-text-fill-color: #8017e9;
    font-size: 2rem;
    font-family: Helvetica;
    padding-left: 2rem;
    padding-right: 2rem;
}

.registerForm_table {
    font-family: Helvetica;
    border-spacing: 1rem;
}

.Register_label {
    position: relative;
    padding-top: 0.7rem;
    
}

.Register_label .registerPlaceholder {
    -webkit-text-fill-color: #8017e9;
    font-size: 0.9rem;
    font-family: Helvetica;
    position: absolute;
    left: 0.5rem;
    top: 0.8rem;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        border-color 0.3s ease;
}

.Register_input {
    padding: 0.4rem;
    -webkit-text-fill-color: #1f0659;
    font-family: Helvetica;
    border-radius: 0.5rem;
    appearance: none;
    border-color: #3c139b;  
}

.Register_input.dirty + .registerPlaceholder,
.Register_input:focus + .registerPlaceholder {
    top: 0rem;
    font-size: 0.7rem;
    background: white;
}

.Register_dobspan {
    position: absolute;
    left: 0.6rem;
    top: 0rem;
    background: white;
    -webkit-text-fill-color: #8017e9;
    font-size: 0.7rem;
}

.Register_dobinput {
    -webkit-text-fill-color: #8017e9;
    border-color: #3c139b; 
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.4rem;
    width: 9.4rem;
    padding-top: 0.2rem;
}

.button {
    background-color: #8f63bc;
    -webkit-text-fill-color: white;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

}
.button:hover {
    background-color: #673797;
    font-size: 1rem;
}

.error {
    -webkit-text-fill-color: #e4035d;
    text-align: center;
    font-family: Helvetica;
    font-size: 1.2rem;
}

.footer {
    -webkit-text-fill-color: #2082A6;
    background-color: #7fffd4;
    font-size: 1rem;
    font-family: Helvetica;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
}
